.main-container {
    display: flex;
}
.chat-sidebar {
    width: 25%;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    cursor: pointer;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-list {
    list-style: none;
}
.contact-button {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.contact-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.4s ease;
}

.contact-item:hover {
    background-color: rgba(204, 204, 204, 0.6);
}

.contact-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    cursor: pointer;
}

.contact-name {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.chat-main {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #f4f4f4;
}

.chat-header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
}

.chat-header-name {
    font-size: 18px;
    color: #333;
}

.chat-header-button {
    background-color: inherit;
    position: fixed;
    right: 10;
    width: 50px;
    height: 50px;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fafafa;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.message-option { 
    padding: 10px 0px;
    color: rgba(51, 51, 51, 0.4);
    cursor: pointer;
    display: none;
}

.message-option:hover {
    color: red;
}

.message:hover span {
    display:flex;
    
}

.message-content {
    max-width: 70%;
    padding: 10px;
    background-color: #75a1ffc0;
    border-radius: 10px;
    position: relative;
}

.own-message .message-content {
    background-color: #d1e7fd;
    margin-left: auto;
    
}

.chat-input {
    display: flex;
    justify-content: end;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    background-color: #f4f4f4;
}

.chat-input input {
    flex-grow: 1;
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.rd-block {
    display: none;
    position: fixed;
    bottom: 0; right:0; top:85; left: 85;
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 3;
    
}

.rd-block-content {
    position: fixed;
    bottom: 35%;right:35%;top:40%;left:40%;
    width: 350px;
    height: fit-content;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 50px;
}
.rd-block-content select {
   margin-top: 30;
   margin-bottom: 30;
   text-align: center;
}

.rd-block button {
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5;
    margin-bottom: 5;
    cursor: pointer;
    width: 80%;

}

#report-reason  {
    width: 100%;
    border-radius: 10px;
   
}

#block-button {
    transition: all 0.4s ease;
}

#block-button span:hover {
    color: red;
    cursor: pointer;
}