.main-container {
    margin-left: auto;margin-right: auto;
    margin-top: 0px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1200px;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}