
/*Footer*/
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(15, 15, 15, 1);
    padding: 40px;
    position: relative;
    bottom: 0px;
}

/*--------------------------*/