*{
    color:white;
}
body {
    background-image: url(../Images/BackgroundFashion.jpg);
    background-repeat: no-repeat;
    background-size:  100% ;

}

body:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1; 
}


/*--------------------------*/
/*
.Hidden {
    opacity: 0%;
}*/


/*Connexion*/
#Connexion {
    padding: 40px;
    height: 550px;
    width: 500px;
    border: solid rgba(255,255,255,0.6) 1.5px;
    margin-left: 25px;
    border-radius: 25px;
    background-color: rgba(87, 87, 87, 0.4);
}

.TitleForm {
    border-bottom: solid rgba(255, 255, 255, 0.6) 0.5px;
    text-align: center;
}

#Connexion input {
    margin-bottom: 10px;
    padding: 8px ;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.ConnexionForm label {
    background-color: inherit;
    margin-bottom: 2.5px;
}

.ConnexionForm {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    }

.Option #memorise{
    display: flex;
    justify-content: left;
    font-size: 20px;
}

.Option a{
    display: flex;
    justify-content: right;
    text-decoration: none;
    font-size: 20px;
}

input #postButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
}
/*--------------------------*/

/*Container*/
.Container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.Container div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    padding: 10px;
}
/*--------------------------*/


/*Footer*/
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(15, 15, 15, 0.7);
    padding: 20px;
    width: 100%;

}

/*--------------------------*/
