.main-container{
    padding: 10px;
}
/* Search Section */
.search-section {
    display: flex;
    margin: 10;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.search-bar {
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    margin: 0;
}

.search-bar #recherche {
    padding: 2;
    width: 91%;
    
}

.search-bar #search-button {
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s ease;
}

#search-button:hover, #filter-button:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.6);

}

.different-choice {
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

.different-choice input {
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#filter-button {
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}


/*--------------*/

li {
    list-style: none;
    display: inline-block;
}

.user-info {
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    width: 500px;
    height: 150px;
    transition: all 0.4s ease;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info:hover {
    background-color: rgba(204, 204, 204, 0.6);
    color:  rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 2px solid #ddd;
}

.user-info-content {
    padding: 5px;
    margin-left: 10px;
    display:inline-block;
    flex-direction: column; 
}

a{
    text-decoration: none;
}

.user-info-option {
    display: inline-block;
}

.user-info-option span {
    cursor: pointer;
    justify-content: space-between;
    transition: all 0.2s ease;
    
}
.user-info-option span:hover {
    border-radius: 5px;
    font-weight: 500;
}


.hide-user {
    display: none;
}

.show-user {
    display: inline-block;
}